.textField {
    outline-color: rgb(24, 29, 31);
    height: 32px;
    width: 100%;
    border-radius: 4px;
    border-color: rgb(221, 221, 221);
    font-family: inherit;
    color: inherit;
    font-size: inherit;
}